/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/03/2021, 10:49:38 PM
    Author     : danielhernandezreyes
*/

.input-val:focus {
    border-color: #00f;
    outline: 0 none;
}

.input-err:focus {
    border-color: #f00;
    outline: 0 none;
}