/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/04/2021, 12:26:48 AM
    Author     : danielhernandezreyes
*/

:root {
    --height-item: 1.8rem;
    --width-item: 9rem;
    --color-border: #dddddd;
}

.content-a {
    font-size: 1.1em;
    color: #fff;
    background-color: var(--color-base);
    display: block;
    padding: 1em 2.5em 1em 2.5em;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
}
.content-a:hover{
    background: var(--color-hover);
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
    background: var(--color-base);
    list-style: none;
    margin: 0;
}

.content-item {
    text-decoration: none;
    display: block;
    color: #fff;
    padding-top: var(--height-item);
    padding-bottom: var(--height-item);
    padding-left: var(--width-item);
    padding-right: var(--width-item);
    
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.content-selec {
    text-decoration: none;
    display: block;
    
    text-align: center;
    font-size: 1.2rem;
    margin-top: var(--height-item);
    margin-bottom: var(--height-item);
    margin-left: var(--width-item);
    margin-right: var(--width-item);
    
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: calc( var(--width-item) * .2 );
    padding-right: calc( var(--width-item) * .2 );
}

.content-img {
    margin-top: 1rem;
    padding: 0 var(--width-item) 0 var(--width-item);
}

.content-table {
  padding: 3rem;
  width: 90%;
  margin-top: 1rem;
  margin-left: 1rem;
  min-height: 10rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 2px solid var(--color-border);
  text-align: center;
  padding: .2em;
}

tr:nth-child(even) {
  background-color: var(--color-border);
}
