/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/04/2021, 07:57:27 PM
    Author     : danielhernandezreyes
*/
:root {
    --height-item: 1.8rem;
    --width-item: 2.5rem;
}
.content {
    flex-flow: row wrap;
    list-style: none;
}

.content-item {
    text-decoration: none;
}

.title-header {
    display: block;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
}

.content-data {
    margin: auto;
    margin-top: 2rem;
}

.content-data_row {
    margin-left: 30%;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.data_d {
    display: inline-block;
    font-size: 1.2rem;
}

.data_dd {
    margin-left: 0;
}

.data_dt {
    margin-right: 2rem;
}

.input-submit {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 1.1em;
    color: #fff;
    background-color: var(--color-base);
    padding: 1.2rem 3.5rem 1.2rem 3.5rem;
    border: 0;
}
.input-submit:hover{
    background: var(--color-hover);
}
