/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/04/2021, 08:29:13 PM
    Author     : danielhernandezreyes
*/

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf) format('ttf');
}

* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --color-base: #156590;
    --color-hover: #1565C0;
    --color-border: #DDDDDD;
}

.content-G {
    display: flex;
    justify-content: center;
    
    background: var(--color-base);
    margin: 0;
}

.content-item-G {
    display: block;
    color: #fff;
    padding-top: var(--height-item);
    padding-bottom: var(--height-item);
    padding-left: var(--width-item);
    padding-right: var(--width-item);
    
    text-align: center;
    font-size: 1.2rem;
}
.content-item-G:hover {
    background: var(--color-hover);
}

.content-table {
  padding: 3rem;
  width: 90%;
  margin-top: 1rem;
  margin-left: 1rem;
  min-height: 10rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 2px solid var(--color-border);
  text-align: center;
  padding: .2em;
}

tr:nth-child(even) {
  background-color: var(--color-border);
}

.list-none {
    list-style: none;
}